$brand-button-color: #fcb72b;
$header-links-color: #939caa;
$logo-color: #495567;
$hero-bg-color: rgba(47, 59, 89, 0.75);
$services-title-color: #495567;
$services-text-color: #939caa;
$services-line-color: rgba(229, 236, 244, 1);
$footer-color: #495567;
$footer-link-color: #e5ecf4;
$footer-bold-color: #333a44;
